
@media (max-width: 740px) {    
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 41px;
    }
    #nav > li {
        display: block;
    }
    #header .search-button{
        display: none;
    }
    #header .menu-btn{
        display: block;
    }
    .col-3{
        width: 100%; 
    }
    .col {
        float: none;
    }
    #slider .text-content{
        display: none;
    }
    #content .member-img{
        width: 230px;
        margin-bottom: 16px;
    }
    .col-2{
        width: auto;
    }

}